In [3]:
import pandas as pd
from pandas import Series,DataFrame
import numpy as np
rnames = ['user_id','movie_id','rating','timestamp']
ratings = pd.read_table(r'/Users/zhaoyifan/Desktop/ratings.data',sep='\t',header=None,names=rnames)
ratings[:3]

   user_id  movie_id  rating  timestamp
0      196       242       3  881250949
1      186       302       3  891717742
2       22       377       1  878887116

In [4]:
data = ratings.pivot(index='user_id',columns='movie_id',values='rating')
data[:5]

movie_id,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
user_id,,,,,,,,,,,,,,,,,,,,,
1,5.0,3.0,4.0,3.0,3.0,5.0,4.0,1.0,5.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
foo = DataFrame(np.empty((len(data.index),len(data.index)),dtype=int),index=data.index,columns=data.index)
for i in foo.index:
    for j in foo.columns:
        foo.ix[i,j] = data.ix[i][data.ix[j].notnull()].dropna().count()

C:\Users\ALIENWARE\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  after removing the cwd from sys.path.

In [5]:
for i in foo.index:
    foo.ix[i,i]=0#先把对角线的值设为 0

ser = Series(np.zeros(len(foo.index)))
for i in foo.index:
    ser[i]=foo[i].max()#计算每行中的最大值

ser.idxmax()#返回 ser 的最大值所在的行号

NameError: name 'foo' is not defined

In [6]:
ser[405]#取得最大值

346.0

In [36]:
x=foo[foo==346][405].dropna()#取得另一个 user_id
x.index[0]

846

In [8]:
data.ix[346].corr(data.ix[846])

0.4348043294875953

In [6]:
test = data.reindex([846,346],columns=data.ix[346][data.ix[846].notnull()].dropna().index)
test

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

movie_id,2,4,11,12,22,29,31,33,50,53,...,748,780,785,802,944,967,1018,1110,1188,1210
user_id,,,,,,,,,,,,,,,,,,,,,
846,5.0,5.0,5.0,5.0,4.0,2.0,4.0,5.0,5.0,3.0,...,3.0,4.0,4.0,2.0,2.0,3.0,4.0,3.0,2.0,2.0
346,5.0,4.0,4.0,5.0,5.0,4.0,4.0,5.0,5.0,1.0,...,4.0,2.0,3.0,4.0,3.0,2.0,3.0,1.0,1.0,3.0

In [7]:
import matplotlib.pyplot as plt
import pylab as pl
%matplotlib auto
test.ix[846].value_counts(sort=False).plot(kind='bar')

Using matplotlib backend: MacOSX

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  after removing the cwd from sys.path.

In [8]:
test.ix[346].value_counts(sort=False).plot(kind='bar')

In [12]:
periods_test = DataFrame(np.zeros((20,6)),columns=[10,20,50,100,200,500])
for i in periods_test.index:
    for j in periods_test.columns:
        sample = test.reindex(columns=np.random.permutation(test.columns)[:j])
        periods_test.ix[i,j] = sample.iloc[0].corr(sample.iloc[1])


periods_test[:5]

C:\Users\ALIENWARE\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """

        10        20        50        100       200       500
0  0.794531  0.494152  0.431123  0.447711  0.434804  0.434804
1  0.507546  0.515937  0.399440  0.397829  0.434804  0.434804
2 -0.086639  0.621190  0.517636  0.430620  0.434804  0.434804
3  0.752651  0.331686  0.406148  0.439970  0.434804  0.434804
4  0.250000  0.623633  0.466578  0.499697  0.434804  0.434804

In [13]:
periods_test.describe()

             10         20         50         100           200           500
count  20.000000  20.000000  20.000000  20.000000  2.000000e+01  2.000000e+01
mean    0.370003   0.396016   0.448627   0.427873  4.348043e-01  4.348043e-01
std     0.306590   0.210776   0.086908   0.027774  1.665335e-16  2.138592e-16
min    -0.315854  -0.019061   0.231795   0.370375  4.348043e-01  4.348043e-01
25%     0.187354   0.300564   0.404471   0.417707  4.348043e-01  4.348043e-01
50%     0.334545   0.473156   0.455713   0.430984  4.348043e-01  4.348043e-01
75%     0.613678   0.568353   0.508711   0.440223  4.348043e-01  4.348043e-01
max     0.799868   0.674171   0.599712   0.499697  4.348043e-01  4.348043e-01

In [14]:
check_size = 250
check = {}
check_data = data.copy()#复制一份 data 用于检验，以免篡改原数据
check_data = check_data.ix[check_data.count(axis=1)>100]#滤除评价数小于200的用户
for user in np.random.permutation(check_data.index):
    movie = np.random.permutation(check_data.ix[user].dropna().index)[0]
    check[(user,movie)] = check_data.ix[user,movie]
    check_data.ix[user,movie] = np.nan
    check_size -= 1
    if not check_size:
        break


corr = check_data.T.corr(min_periods=100)
corr_clean = corr.dropna(how='all')
corr_clean = corr_clean.dropna(axis=1,how='all')#删除全空的行和列
check_ser = Series(check)#这里是被提取出来的 1000 个真实评分
check_ser[:5]

C:\Users\ALIENWARE\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  after removing the cwd from sys.path.
C:\Users\ALIENWARE\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

5   168    3.0
6   506    4.0
7   78     3.0
11  603    4.0
13  478    4.0
dtype: float64

In [15]:
result = Series(np.nan,index=check_ser.index)
for user,movie in result.index:#这个循环看着很乱，实际内容就是加权平均而已
    prediction = []
    if user in corr_clean.index:
        corr_set = corr_clean[user][corr_clean[user]>0.1].dropna()#仅限大于 0.1 的用户
    else:continue
    for other in corr_set.index:
        if  not np.isnan(data.ix[other,movie]) and other != user:#注意bool(np.nan)==True
            prediction.append((data.ix[other,movie],corr_set[other]))
    if prediction:
        result[(user,movie)] = sum([value*weight for value,weight in prediction])/sum([pair[1] for pair in prediction])


result.dropna(inplace=True)
len(result)#随机抽取的 1000 个用户中也有被 min_periods=200 刷掉的

193

In [16]:
result[:5]

5   168    4.592187
6   506    4.104080
7   78     2.239712
11  603    4.410184
13  478    4.113704
dtype: float64

In [17]:
result.corr(check_ser.reindex(result.index))

0.3813086765643036

In [18]:
(result-check_ser.reindex(result.index)).abs().describe()#推荐期望与实际评价之差的绝对值

count    193.000000
mean       0.841249
std        0.629747
min        0.000000
25%        0.327459
50%        0.810975
75%        1.144610
max        3.000000
dtype: float64

In [37]:
corr = data.T.corr(min_periods=100)
corr_clean = corr.dropna(how='all')
corr_clean = corr_clean.dropna(axis=1,how='all')
lucky = np.random.permutation(corr_clean.index)[0]
gift = data.ix[lucky]
gift = gift[gift.isnull()]#现在 gift 是一个全空的序列
corr_lucky = corr_clean[lucky].drop(lucky)#lucky 与其他用户的相关系数 Series，不包含 lucky 自身
corr_lucky = corr_lucky[corr_lucky>0.1].dropna()#筛选相关系数大于 0.1 的用户
for movie in gift.index:#遍历所有 lucky 没看过的电影
    prediction = []
    for other in corr_lucky.index:#遍历所有与 lucky 相关系数大于 0.1 的用户
        if not np.isnan(data.ix[other,movie]):
            prediction.append((data.ix[other,movie],corr_clean[lucky][other]))
    if prediction:
        gift[movie] = sum([value*weight for value,weight in prediction])/sum([pair[1] for pair in prediction])

print(lucky)
gift.dropna().sort_values(ascending=False)#将 gift 的非空元素按降序排列

524

movie_id
1368    5.000000
1643    5.000000
989     5.000000
1367    5.000000
1599    5.000000
1592    5.000000
1122    5.000000
1558    5.000000
851     5.000000
1536    5.000000
119     5.000000
814     5.000000
868     5.000000
1656    5.000000
1450    5.000000
626     5.000000
1201    5.000000
1449    4.745681
1269    4.726562
262     4.670026
1240    4.597609
1512    4.593395
1398    4.589620
169     4.543403
114     4.541364
316     4.526592
408     4.515048
1131    4.503310
357     4.487768
592     4.485684
          ...
314     1.000000
1621    1.000000
1025    1.000000
1408    1.000000
1034    1.000000
1392    1.000000
352     1.000000
599     1.000000
1509    1.000000
981     1.000000
247     1.000000
669     1.000000
84      1.000000
1508    1.000000
681     1.000000
1376    1.000000
687     1.000000
688     1.000000
1304    1.000000
1087    1.000000
1250    1.000000
1355    1.000000
908     1.000000
907     1.000000
901     1.000000
897     1.000000
1609    1.000000
894     1.000000
891     1.000000
834     1.000000
Name: 524, Length: 1132, dtype: float64